.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  display: inline-block;
  /* text-align: center; */
  margin-left: 518px;
  margin-top: 75px;
}
.input {
  margin: 7px 10px;
  padding: 7px;
  width: 429px;
  border-radius: 6px;
  font-size: 20px;
  text-align: left;
}
label {
  font-size: 21px;
  padding: 0 0 0px 18px;
  font-style: oblique;
  font-weight: 500;
}
h2{
  text-align: center;
}
select {
  margin: 7px 10px;
  padding: 7px;
  width: 445px;
  border-radius: 6px;
  font-size: 20px;
  text-align: left;
}
.btn {
  padding: 6px 9px;
  padding: 5px;
  margin-top: 33px;
  width: 140px;
  font-size: 17px;
  font-weight: 600;
  margin-left: 161px;
  color: #fff;
  background-color: teal;
  border-radius: 6px;
  margin-bottom: 23px;
}